  <div class="black scroll_pane" id="BRR">
    <h2 class="box_title">Events</h2>
    <div class= "create_button_parent">
      <%= link_to "Add an Event", "events/create", :remote => true %>
    </div>
    <%= render "themes/avec/events/index" %>
  </div>
